# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Temporary files
*.tmp
*.temp
*.swp
*~

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project 

# python virtual environment
.venv/
